$imagenes: (
prod1: url(../img2/cajamarino.jpg),
prod2: url(../img2/cajaminnie.jpg),
prod3: url(../img2/cajaunicornio.jpg),
prod4: url(../img2/conos.jpg),
prod5: url(../img2/stickers.jpg),
prod6: url(../img2/tarjeta15.jpg),
prod7: url(../img2/tarjetabautismo.jpg),
prod8: url(../img2/tarjetacasamiento.jpg),
prod9: url(../img2/velasbautismo.jpg),
prod10: url(../img2/velascomunion.jpg),
prod11: url(../img2/velasprimerano.jpg),
prod12: url(../img2/tarjetabautismo2.jpg),
);

