@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans+Condensed:wght@300&display=swap');

$fuente-principal: 'Handlee' , sans-serif;
$fuente-secundaria: 'Open Sans Condensed', sans-serif;

$color-principal: #636262;
$color-secundario: #08ceb2; 

